
body{
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;
}
header{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:0;
    padding:0;
    background-color: black;
}
#title{
    text-align: center;
    font-size:3rem;
    margin:0;
    padding:0;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    /* text-shadow: 3px 3px 1px rgb(33, 197, 0); */

}
#restart{
    width:fit-content;
    font-family: monospace;
    font-size: 5rem;
    padding: 10px 20px;
    border-radius: 0px;
    box-shadow: 5px 5px 0px 1px white;
    background-color: rgb(241, 100, 100);
    border: 0px solid red;
    color:rgb(255, 255, 255);
    cursor:pointer;
    margin:50px;
    justify-content: center;
    display:none;
}

#score{
    font-family: monospace;
    font-size: 3rem;
    background-color: black;
    color:white;
    margin:0;
    padding:0;
    text-align:center;
}
#container{
    border: 2px;
    /* display:flex; */
    position:fixed;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: black; ;
}

#screen{
    display: flex;
    width: 99%;
    height: 60%;
    border: 5px solid white;
    justify-content:center;
    position:relative;
}

#slider{
    width: 150px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 80%;
    
}

#ball{
    background-color: white;
    height:30px;
    width:30px;
    position:relative;
}